*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    background-color: rgb(52, 113, 247);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

main{
    padding-top: 80px;
}

.container-main{
    width: 90%;
    margin: auto;
}

.align-center{
    text-align: center;
}

.container-main img{
    width: 80%;
}

.fa-bars{
    color: white;
}

.clearfix{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INIZIO MAIN */

.card-img{
    background-color: rgb(181, 204, 245);
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    margin-bottom: 20px ;
}

.card-img h3{
    color: rgb(70, 95, 235);
}

.card-img p{
    line-height: 1.8rem;
    margin: 1rem 0;
}

.fa-apple{
    margin: 0 5px;
}

.img-appstore{
    text-align: center;
}

.card-img button{
    background-color: rgb(31, 95, 231);
    padding: 0.6rem 0.9rem;
    color: white;
    border-radius: 20px;
    border: none;
    width: 80%;
    margin: 20px 0;
    cursor: pointer;
}

.little-card{
    text-align: center;
    padding: 10px;
}

.little-card i{
    color:  rgb(31, 95, 231);
    font-size: 4rem; 
    margin-bottom: 1.5rem;
}

/* inizio strategic planning */

.strategic-planning{
    color: white;
    padding-top: 50px;
}

.strategic-planning p{
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 1.4rem;
}

.strategic-planning h2{
    margin: 3rem 0 2rem 0;
}

.app-developement{
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.app-developement p{
    font-style: italic;
    margin: 1rem 0;
    line-height: 1.6rem;
}

.app-developement h3{
    margin-top: 1rem ;
}

.download-button i{
    background-color: rgb(149,147,230);
    padding: 15px;
    border-radius: 100%;
}


@media screen and (max-width: 768px){
    .nav-list{
        display: none;
    }
}
@media screen and (min-width: 769px){
    
    .burgher{
       display: none; 
    }

    .container-main{
        width: 60%;

    }

    .nav-list button{
        padding: 7px 9px;
        border-radius: 20px;
        border: none;
    }
    
    .nav-list li{
        margin: 0 10px;
        color: white;
        font-size: 0.9rem;
    }

    /* fine header */
    
    .first-row{
        display: flex;
        justify-content: space-between;
    }

    .img-appstore img{
        width: 100%;
    }

    .first-card-row{
        display: flex;
        justify-content: space-between;
    }

    .info-item-first-image{
        width: 100%;
    }

    .img-appstore{
        width: 100%;
    }

    .first-card-row{
        flex-basis: 65%;
    }

    .second-card-row{
        flex-basis: 30%;
    }

    .second-row{
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
    }

    .second-card-row{
        flex-basis: calc(100% / 3.2);
    }

    /* inizio seconda parte del main */

    .planning{
        display: flex;
        align-items: end; 
        justify-content: space-between;
    }

    .strategic-planning img{
        text-align: left;
    }

    .strategic-planning{
        flex-basis: 50%;
    }

    .app-developement{
        flex-basis: 40%;
    }



}

@media  screen and (min-width: 426px) and (max-width: 768px) {
    .first-row{
        display: flex;
        justify-content: space-between;
    }

    .first-row img{
        width: 65%;
    }

    .img-appstore{
        text-align: left;
    }

    .first-row button{
        width: 50%;
    }


    .first-card-row{
        flex-basis: 65%;
    }

    .second-card-row{
        flex-basis: 30%;
    }

    .second-row{
        display: flex;
        justify-content: space-between;
    }

    .second-card-row{
        flex-basis: calc(100% / 3.2);
    }

}